@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
*{
    box-sizing: border-box;
    
}
*, 
*::after ,
*::before{
    box-sizing:border-box ;
}
html,
body{
    height:100%;
}
body{
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family:"Poppins",sans-serif;
    color: #5a5a5a;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    margin-top: 0;
    font-family:"Baloo 2",cursive ;
}
h1{
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
}
h2{
    font-size: 36px;
    line-height: 36px;
}
h3{
    font-size: 30px;
    line-height: 30px;
}
h4{
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}
h5{
    font-size: 14px;
    line-height:18px;
}
h6{
    font-size: 12px;
    line-height: 14px;
}
p:last-child{
    margin-bottom: 0;
}
a,
button{
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor:pointer;
}
.btn:focus{
    box-shadow: none;
}
a,
button,
img,
input,
span{
    transition: all 0.3s ease 0s;
}
*:focus{
    outline: none !important;
}
a:focus{
    color: inherit;
    outline:none;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
button,
input[type="submit"]
{
    cursor:pointer;
}
img{
    max-width: 100%;
    height:auto;
}
ul{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.home_black_version{
    background: #0d0d0d;
}
.header_black .header_top{
    border-bottom: 1px solid #2d2d2d;
}
.header_black .social_icons ul li a{
    background: #2f2f2f;
    color: #cccccc;
}
.header_black .social_icons ul li a:hover{
    background: #a8741a;
}
.header_black .top_right_text-right > ul > li::before{
    background: #2d2d2d;
}
.header_black .top_right_text-right ul li a:hover{
    color: #a8741a;
}
.header_black .top_right_text-right> ul > li > a{
    color: #ffffff;
}
.header_black .top_right_text-right > ul > li:hover > a {
    /* Change the text color to golden */
    color: #a8741a; 
    /* Ensures no unwanted background color is applied */
    background: transparent; 
}
.header_black .dropdown_language li,
.header_black .dropdown_links li {
  border-bottom: 1px solid #2d2d2d;
}

.header_black .dropdown_language li a:hover,
.header_black .dropdown_links li a:hover {
  color: #a8741a;
}

.header_black .dropdown_links {
  left: -98%;
}

.social_icons ul li {
  display: inline-block;
  margin-left: 5px;
}

.social_icons ul li:first-child {
  margin-left: 0;
}
.social_icons ul li a {
  background: #ebebeb;
  color: #aaaaaa;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
.social_icons ul li a:hover {
  background: #a8741a;
  color: #ffffff;
}

.top_right_text-right > ul > li {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-left: 20px;
}
.top_right_text-right > ul > li:hover ul.dropdown_language,
.top_right_text-right > ul > li:hover .header_black ul.dropdown_links,
.header_black .top_right_text-right > ul > li:hover ul.dropdown_links {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.top_right_text-right > ul > li:hover ul.dropdown_links {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.top_right_text-right > ul > li:first-child {
  padding-left: 0;
  margin-left: 0;
}
.top_right_text-right > ul > li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background: #ebebeb;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
.top_right_text-right > ul >li:first-child ::before{
    display: none;
}
.top_right_text-right > ul > li > a{
    color: #242424;
    text-transform: capitalize;
    line-height: 26px;
    font-size: 12px;
    cursor:pointer;
    display:block;
    font-weight: 400;
    padding: 9px 0;
}
.top_right_text-right>ul>li>a i{
margin-left: 3px;
font-size: 30px;
}
.dropdown_language,
.dropdown_links,
.header_black .dropdown_language,
.header_black .dropdown_links{
    position: absolute;
    background: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0,0,0.2);
    min-width: 200px;
    text-align: center;
    top:125%;
    transition: all 0.3s ease-out;
    overflow:hidden;
    left:-154%;
    z-index:9999;
    padding: 0 15px;
    border-radius: 5px;
    opacity:0;
    visibility: hidden;
}
.header_black  .dropdown_language,
.header_black  .dropdown_links{
    background:#0d0d0d;
}
.dropdown_language li a,
.header_black .dropdown_links li a{
    text-transform: capitalize;
    display:black;
    font-size: 12px;
    color: #242424;
    text-align: center;
}
.dropdown_language li a:hover,
.header_black .dropdown_links li a:hover{
    color: #a8741a;
}
.header_black .dropdown_language  li:last-child,
.header_black .dropdown_links li:last-child{
    border-bottom: 0;
}
.header_black .dropdown_language li a,
.header_black .dropdown_links li a{
    color: #ffffff;
}
.header_black .dropdown_links{
    left:-98%;
}
.dropdown_language li,
.header_black .dropdown_links li{
    border-bottom: 1pxsolid #2d2d2d;
    line-height: 36px;
    padding: 5px;
}
.dropdown_language  li:last-child,
.header_black .dropdown_links li:last-child{
    border-bottom: 0;
}
.dropdown_language  li a:hover,
.header_black .dropdown_links li a:hover{
    color: #a8741a;
}
.header_middel{
    padding: 40px 0;
    border-bottom: 1px solid #ebebeb;
}
.header_black .header_middel{
    border-bottom: 1px solid #2d2d2d;
}
.home_contact{
    display: flex;
}
.home_contact .contact_box{
    padding-right: 25px;
    margin-right: 25px;
    border-right: 2px solid #cccccc;
}
.header_black .home_contact{
    margin-left:15px;
}
.header_black .home_contact{
    align-items: center;
}
.header_black .contact_box{
    margin-left: 15px;
}
.header_black .contact_box p{
    color: #a8741a;
    font-size:14px;
}
.logo{
    padding: 0 20px;
}
.middel_right{
    display:flex;
    justify-content: flex-end;
    align-items:center;
}
.search_btn{
    position: relative;
}
.search_btn:hover .dropdown_search{
    opacity:1;
    visibility:visible;
    top:100%;
}
.search_btn{
    width:45px;
    height:41px;
    border-radius: 3px;
    text-align: center;
    line-height: 45px;
    border:1px solid #ffffff;
    color: #212121;
    font-size: 20px;
    display:block;
}
.search_btn a:hover{
    color:#a8741a
}
.header_black .search_btn form button{
    position: absolute;
    top:0;
    right:10px;
    color: #ffffff;
    font-size: 20px;
    height: 100%;
}
.header_black .search_btn form button:hover{
    color: #a8741a;
}
.dropdown_search{
    position:absolute;
    right:0;
    opacity:0;
    visibility: hidden;
    top:120%;
    transition:0.3s;
}
.dropdown_search form{
    position: relative;
    width: 200px;
    border: 1px solid #ebebeb;
    background:#ffffff;
    z-index:9;
}
.dropdown_search form input{
    border: 0;
     width:100%;
     height:50px;
     line-height:50px;
     padding: 0 67px 0 18px;
     background: inherit;
     font-size: 12px;
     color:#a4a4a4 ;
}
.dropdown_search form button{
    position:absolute;
    top:0;
    right:0;
    background: #ebebeb;
    width:59px;
    border:0;
    border-left:1px solid #ddd;
    padding:0;
    font-size: 20px;
    background: none;
    color: #ffffff;
}
.header_black .dropdown_search form{
    background:#242424;
    border: 1px solid;
}
.header_black .wishlist_btn {
  margin-left: 18px;
}

.header_black .wishlist_btn a {
  width: 45px;
  height: 45px;
  border-radius: 3px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  display: block;
  border: 1px solid #2d2d2d;
  color: #ffffff;
}
.header_black .wishlist_btn a:hover {
  color: #a8741a;
}
.cart_link {
  margin-left: 25px;
  position: relative;
}

.cart_link span.cart_quantity {
  position: absolute;
  left: -11px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  background: #a8741a;
  color: #ffffff;
  border-radius: 50%;
  top: 12px;
}
.cart_link > a {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #212121;
  border: 1px solid #ebebeb;
  padding: 11px 10px 13px 18px;
  line-height: 15px;
  border-radius: 3px;
  display: block;
}
.cart_link > a:hover {
  color: #a8741a;
}
.cart_link > a cart {
  font-size: 19px;
  margin-right: 10px;
  border-right: 1px solid #ebebeb;
  position: relative;
  top: 3px;
  padding-right: 10px;
}
.cart_link > a chevron-down {
  font-size: 17px;
  margin-left: 3px;
}
.header_black .cart_link span.cart_quantity {
  background: #a8741a;
}
.header_black .cart_link > a {
  color: #ffffff;
  border: 1px solid #2d2d2d;
}
.header_black .cart_link > a:hover {
  color: #a8741a;
}
.header_black .cart_link > a cart {
  border-right: 1px solid #2d2d2d;
}
.mini_cart {
  position: fixed;
  min-width: 355px;
  height: 100%;
  padding: 18px 20px 33px;
  background: #ffffff;
  z-index: 999;
  right: 0;
  top: 0;
  transition: 0.5s;
  transform: translateX(100%);
}
.mini_cart.active {
  transform: translateX(0);
  transition: 0.5s;
}

.header_black .mini_cart {
  background: #242424;
  border: 1px solid #2d2d2d;
}

.cart_close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
}

.header_black .cart_close {
  border-bottom: 1px solid #2d2d2d;
}
.cart_text h3 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 0;
  color: #ffffff;
}
.mini_cart_close > a {
  font-size: 25px;
  color: #ffffff;
}
.mini_cart_close > a:hover {
  color: #a8741a;
}
.cart_item {
  padding: 20px 0;
  border-bottom: 1px solid #0d0d0d;
  display: flex;
  overflow: hidden;
}
.cart_img {
  width: 100px;
  margin-right: 10px;
}

.cart_info {
  width: 58%;
}

.cart_info a {
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 14px;
}
.cart_info a:hover {
  color: #a8741a;
}

.cart_info span {
  display: block;
}

.cart_info span.price_cart {
  color: #a8741a;
  font-weight: 500;
}
.header_black .cart_info span.quantity {
  color: #a0a0a0;
}

.cart_remove {
  width: 10%;
  text-align: right;
}
.cart_remove a {
  color: #eaeaea;
  font-size: 18px;
}

.cart_remove a:hover {
  color: #a8741a;
}

.cart_total {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.cart_total span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.mini_cart_footer {
  padding: 0 25px 25px;
  background: #242424;
}
.cart_button a {
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 400;
  color: #ffffff;
  background: #2e2e2e;
  display: block;
  text-align: center;
  line-height: 20px;
  margin-bottom: 0;
  padding: 13px 0 11px;
}

.cart_button a:hover {
  background: #a8741a;
}

.cart_button.view_cart {
  padding-bottom: 15px;
}
.cart_button a.active {
  background: #a8741a;
}

.cart_button a.active:hover {
  background: #e9c88f;
  color: #000000;
  font-weight: 600;
}
.header_bottom.sticky-header.sticky .main_menu_inner {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_bottom.sticky-header.sticky .logo_sticky {
  display: block;
}

.header_black .header_bottom.sticky-header{
  background-color: #0d0d0d;
  border-bottom: 1px solid #0d0d0d;
   
    margin: 0; /* Ensures no extra spacing pushes it out */
    padding: 10px 0; /* Add necessary vertical padding to lift the links */
     
}


.sticky-header.sticky {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
  animation-name: fadeInDown;
  animation-duration: 900ms;
  animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.header_bottom.sticky-header.sticky .main_menu_inner {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_black .sticky-header.sticky {
  background: rgba(238, 239, 241, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
}

.main_menu_inner {
  text-align: center;
}

.logo_sticky {
  display: none;
  margin-right: 35px;
}
.logo_sticky a img {
  max-width: 120px;
}

.main_menu nav > ul > li {
  display: inline-block;
  position: relative;
}

.main_menu nav > ul > li > a i {
  margin-left: 2px;
}
.main_menu nav > ul > li:hover > a {
  color: #a8741a;
}

.main_menu nav > ul > li.active > a {
  color: #a8741a;
}

.main_menu nav > ul > li:first-child a {
  padding-left: 0;
}

.main_menu nav > ul > li:last-child a {
  padding-right: 0;
}

.main_menu nav > ul > li ul.sub_menu {
  position: absolute;
  min-width: 200px;
  padding: 30px 25px;
  background: #fff;
  border: 1px solid #ebebeb;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0 0 0;
  left: 0;
  right: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 9;
  top: 100%;
  text-align: left;
}

.main_menu nav > ul > li ul.sub_menu > li > a {
  font-size: 15px;
}

.main_menu nav ul li:hover .sub_menu,
.main_menu nav ul li:hover .mega_menu {
  opacity: 1;
  visibility: visible;
  transform: perspective(600px) rotateX(0deg);
}
.main_menu nav ul li ul li.active a,
.main_menu nav ul li ul li a:hover {
  color: #c09578;
}

.main_menu nav > ul > li > ul > li > a {
  color: #808080;
  font-size: 13px;
  text-transform: capitalize;
  line-height: 18px;
  margin-bottom: 15px;
  display: block;
  font-weight: 400;
}
.main_menu nav > ul > li > ul.sub_menu > li:last-child > a {
  margin-bottom: 0;
}
.main_menu nav > ul > li > ul.mega_menu li ul li:last-child a {
  margin-bottom: 0;
}

.main_menu nav ul li ul.mega_menu {
  position: absolute;
  min-width: 580px;
  padding: 30px 25px 35px;
  background: #fff;
  border: 1px solid #ebebeb;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0 0 0;
  left: 0;
  right: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 9;
  top: 100%;
  text-align: left;
}

.main_menu nav > ul > li > ul.mega_menu > li {
  width: 33%;
  float: left;
}
.main_menu nav > ul > li > ul.mega_menu > li > a {
  text-transform: uppercase;
  color: #242424;
  font-weight: 500;
  margin-bottom: 30px;
}

.main_menu nav > ul > li > ul.maga_menu > li > a:hover {
  color: #c09578;
}
.main_menu nav > ul > li > ul.maga_menu li ul li a {
  color: #808080;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 11px;
  display: block;
  text-transform: capitalize;
  font-weight: 400;
}

.main_menu nav > ul > li > ul.maga_menu li ul li a:hover {
  color: #c09578;
}
.main_menu nav ul li ul.sub_menu.pages {
  left: inherit;
  right: inherit;
}
.header_black .main_menu nav > ul > li > a {
    color: #ffffff !important;
}

/* Make them turn golden on hover */
.header_black .main_menu nav > ul > li > a:hover {
    color: #a8741a !important;
}
